#!/usr/bin/env bash

echo -e '\033[37m\033[46m ********************************* \033[00m'
echo -e '\033[37m\033[46m **  Laravel AMI by CloudCasts  ** \033[00m'
echo -e '\033[37m\033[46m ********************************* \033[00m'